body {
  font-family: "Futura PT", sans-serif;
  font-size: 18px;

  background-color: #121212;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  padding: 12px 0 4px 0;
  margin: 0;
}
h1 { font-size: 64px; }
h2 { font-size: 50px; }
h3 { font-size: 38px; }
h4 { font-size: 28px; }
h5 { font-size: 20px; }
h6 { font-size: 14px; }

span.mono {
  font-family: "Roboto Mono", serif;
}

span.dPlus::before { content: "▴" }
span.dMinus::before {content: "▾" }
span.dMinus { color: #FF5E6E; }
span.dPlus { color: #45FF71; }

.btn {
  cursor: pointer;
}
.btn-primary {
  background-color: #404A80;
}
.btn-secondary {
  background-color: #7986CB;
}

.StockTicker {
  width: 400px;
}

.StockTicker .CustomSelect {
  position: relative;
  flex-grow: 1;
  margin-right: 2px;
}
.StockTicker .CustomSelect:last-child {
  margin-right: 0;
}
.StockTicker-CustomSelect-row {
  display: flex;
  flex-direction: row;
}

header {
  margin-bottom: 12px;
}

.CustomSelect {
  padding: 4px 8px;
}
.CustomSelect-value {
  font-size: 22px;
}
.CustomSelect-label {
  font-size: 13px;
}
.CustomSelect-arrow {
  position: absolute;
  right: 8px;
  bottom: 4px;
}

.StockTicker-item {
  padding: 4px 10px;
}
.StockTicker-item div {
  display: inline-block;
  margin: 4px 8px;
  width: 50px;
  font-size: 22px;
}
.StockTicker-item-code {
  width: 50px;
}
.StockTicker-item-delta {
  text-align: center;
}
.StockTicker-item-value {
  float: right;
}

.App-header {
  background-color: rgba(255,255,255,.1);
}

.StockTicker-item {
  margin: 2px 0;
  background-color: rgba(255,255,255,.14)
}