body {
  font-family: "Futura PT", sans-serif;
  font-size: 18px;

  background-color: #121212;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  padding: 12px 0 4px 0;
  margin: 0;
}
h1 { font-size: 64px; }
h2 { font-size: 50px; }
h3 { font-size: 38px; }
h4 { font-size: 28px; }
h5 { font-size: 20px; }
h6 { font-size: 14px; }

.App-header {
  background-color: rgba(255,255,255,.1);
}

.StockTicker-item {
  margin: 2px 0;
  background-color: rgba(255,255,255,.14)
}